{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - Creative Job Portal</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="centered">
        <h1>Wandering<span class="primary">Creatives</span></h1>
        <p class="motto">Unleash Your Creativity Beyond Borders. Connect, Collaborate, Create.</p>
    </section>
    <section class="left primary">
        <h2>Who Are We?</h2>
        <p>We are a dynamic platform founded by an international creative who understand the challenges of navigating visa-sponsored job opportunities and centralized creative job listings.</p>
        <p>We're here to connect international creatives with global opportunities, simplify the path to pursue their passions, and break down boundaries to inspire creative excellence.</p>
    </section>
    <section class="right">
        <h2>What We Provide</h2>
        <ul>
            <li><span class="bold secondary">Global Access:</span> We connect you with opportunities around the world. Starting with United Kingdom.</li>
            <li><span class="bold secondary">Simplified Visa Sponsorship:</span> We're dedicated to making your dream job within reach.</li>
            <li><span class="bold secondary">Creative Community:</span> Join a diverse, supportive network of creatives.</li>
        </ul>
    </section>
    <section class="left secondary">
        <h2>Our History</h2>
        <p>Born from personal struggles as an international creative, our platform emerged to tackle the challenges of finding creative  visa-sponsored job opportunities and centralized creative listings. Our mission is clear: empower global creatives to realize their dreams. We envision a world where talent knows no borders, providing a platform that not only connects creatives with opportunities but also fosters a diverse and vibrant community. Join us in rewriting the narrative for international creatives, breaking down barriers, and creating a future where every creative individual can pursue their passions without hindrance."</p>
    </section>
    <footer>
        <p>&copy; 2023 Creative Job Portal</p>
    </footer>
</body>
</html>
